---
layout: archive
title: "Teaching and Mentoring"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- # Simple reversed order
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- New style rendering if categories are defined -->
<!-- {% if site.teaching_category %}
  {% for category in site.teaching_category %}
    {% assign title_shown = false %}
    {% for post in site.teaching reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<!-- Hard-coded w/o md files-->
<h2>University-Level Teaching</h2><hr />

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Language and Cognition (primary instructor)</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Spring 2024, Spring 2023</span>
    <span style="margin-left: 0.5em;">Université Paris Cité 🇲🇫</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  BA introductory course</span>
    <span style="margin-left: 0.5em;">Language of instruction 🇲🇫</span></p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Prosodic Analysis (co-instructor)</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Spring 2024, Spring 2023</span>
    <span style="margin-left: 1em;">Université Paris Cité 🇲🇫</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  MA advanced course</span>
    <span style="margin-left: 1em;">Language of instruction 🇺🇸</span></p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Phonetics (TA)</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Fall 2023</span>
    <span style="margin-left: 1em;">Université Paris Cité 🇲🇫</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  BA advanced course</span>
    <span style="margin-left: 1em;">Language of instruction 🇲🇫</span></p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">General Linguistics (TA)</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Fall 2022</span>
    <span style="margin-left: 1em;">Université Paris Cité 🇲🇫</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  BA introductory course</span>
    <span style="margin-left: 1em;">Language of instruction 🇲🇫</span></p>
</article></div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Italian Language and Culture (TA)</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Summer 2018, Spring 2018, Fall 2017</span>
    <span style="margin-left: 1em;">DePauw University 🇺🇸</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  BA introductory and advanced courses</span>
    <span style="margin-left: 1em;">Language of instruction 🇮🇹</span></p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Italian Language and Culture (TEST)</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 200px; margin-right: 1em;">
      <i class="fa fa-calendar" aria-hidden="true"></i> Summer 2018, Spring 2018, Fall 2017</span>
  <span style="width: 200px;">DePauw University 🇺🇸</span></p>
  <p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 200px; margin-right: 1em;">
      <i class="fa fa-person"></i> BA introductory and advanced courses</span>
  <span style="width: 200px;">Language of instruction 🇮🇹</span></p>
  </article></div>

<h2>Internship mentoring</h2><hr />

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Eye-tracking data collection</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
      <i class="fa fa-calendar" aria-hidden="true"></i> Spring/Summer 2024</span>
  <span style="width: 200px; margin-right: 1em;">Université Paris Cité, CNRS 🇲🇫</span>
  <span style="width: 200px;">
      <i class="fa fa-person"></i> MA internship (2 students)</span></p>
  </article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Speech production data pre-processing</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
      <i class="fa fa-calendar" aria-hidden="true"></i> Spring/Fall 2023</span>
  <span style="width: 200px; margin-right: 1em;">Université Paris Cité, CNRS 🇲🇫</span>
  <span style="width: 200px; ">
      <i class="fa fa-person"></i> MA internship (2 students)</span></p>
  </article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
<h3 class="archive__item-title" itemprop="headline">Speech production data collection and pre-processing</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
      <i class="fa fa-calendar" aria-hidden="true"></i> Winter/Spring 2023</span>
  <span style="width: 200px; margin-right: 1em;">Université Paris Cité, CNRS 🇲🇫</span>
  <span style="width: 200px;">
      <i class="fa fa-person"></i> MA internship (1 student)</span></p>
  </article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">Stimuli adaptation in French</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
      <i class="fa fa-calendar" aria-hidden="true"></i> Spring/Summer 2022</span>
  <span style="width: 200px; margin-right: 1em;">Université Paris Cité, CNRS 🇲🇫</span>
  <span style="width: 200px;">
      <i class="fa fa-person"></i> MA internship (1 student)</span></p>
  </article></div>

<h2>Other Teaching Experience</h2><hr />

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">L2 Italian</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
    <i class="fa fa-calendar" aria-hidden="true"></i> Spring/Summer 2021</span>
  <span style="width: 200px; margin-right: 1em;">Elduaien Language Academy 🇪🇸</span>
  <span style="width: 300px;">
    <i class="fa fa-person"></i> adult employers</span>
</p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">L2 English</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
    <i class="fa fa-calendar" aria-hidden="true"></i> Spring/Summer 2021</span>
  <span style="width: 200px; margin-right: 1em;">Elduaien Language Academy 🇪🇸</span>
  <span style="width: 300px;">
    <i class="fa fa-person"></i> children</span>
</p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">L2 Italian</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
    <i class="fa fa-calendar" aria-hidden="true"></i> 2018-2020</span>
  <span style="width: 200px; margin-right: 1em;">Asinitas Onlus  🇮🇹</span>
  <span style="width: 300px;">
    <i class="fa fa-person"></i> adult migrants and refugees</span>
</p>
</article></div>

<div class="{{ include.type | default: "list" }}__item"><article class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">L2 Italian</h3>
<p class="page__meta" style="display: flex; flex-wrap: wrap; margin: 5px 0;">
  <span style="width: 150px; margin-right: 1em;">
    <i class="fa fa-calendar" aria-hidden="true"></i> 2015-2017</span>
  <span style="width: 200px; margin-right: 1em;">PassaParola Italia  🇮🇹</span>
  <span style="width: 300px;">
    <i class="fa fa-person"></i> children/teenagers recently arrived to Italy</span>
</p>
</article></div>
